<div class="landing" id="tooltip-background">
  {{#unless this.media.isMobile}}
    <SideNavBar
      @openTeamModal={{this.openTeamModal}}
      @sortedTeams={{this.sortedTeams}}
      @goToTeam={{this.goToTeam}}
      @currentTeamId={{this.currentTeamId}}
      @currentUser={{this.currentUser}}
      @logOut={{this.logOut}}
      @showToggleablePopover={{this.showToggleablePopover}}
      @togglePopover={{this.togglePopover}}
    />
  {{/unless}}
  <div class="side-content">
    {{outlet}}
  </div>
</div>
{{#if this.showNewTeamModal}}
  <Modals::Team::Add
    @closeModal={{this.closeNewTeamModal}}
    @saveTeam={{this.saveTeam}}
  />
{{/if}}
