<div class="layout-row main-container">
  <SideNavBar
    @groups={{this.model}}
    @addOne={{this.addOne}}
    @sortedTeams={{this.sortedTeams}}
    @goToTeam={{this.goToTeam}}
    @deleteTeamModal={{this.deleteTeamModal}}
    @currentTeamId={{this.currentTeamId}}
    @currentUser={{this.currentUser}}
    @logOut={{this.logOut}}
    @showToggleablePopover={{this.showToggleablePopover}}
    @togglePopover={{this.togglePopover}}
  />
  <div class="flex-80 flex-content">
    {{outlet}}
  </div>
</div>
{{#if this.showDeleteTeamModal}}
  <DeleteTeamModal
    @closeDeleteTeamModal={{this.closeDeleteTeamModal}}
    @deleteTeam={{this.deleteTeam}}
    @teamToDeleteName={{this.teamToDelete.name}}
  />
{{/if}}
{{#if this.showNewTeamModal}}
  <NewTeamModal
    @title="New Team"
    @closeModal={{this.closeNewTeamModal}}
    @dataTestName="new-team-modal"
    @saveTeam={{this.saveTeam}}
  />
{{/if}}
