<PaperToolbar>
  <PaperToolbarTools>
    <div class="paper-right">
      <span data-test-rr="currentUser-span">
        {{session.currentUser.username}}
      </span>
    </div>
  </PaperToolbarTools>
</PaperToolbar>
<PaperSidenavContainer @class="inner-sidenav">
  <PaperSidenav @class="side-container" @lockedOpen={{true}}>
    <PaperToolbar>
      <PaperToolbarTools @class="side-title">Teams</PaperToolbarTools>
    </PaperToolbar>
    <PaperContent @padding={{true}} @class="side-content">
      <div data-test-rr="team-container">
        {{#if this.model.length}}
          <ul class="team-list">
            {{#each this.model as |team|}}
              <li data-test-rr="team-item">{{team.name}}</li>
            {{/each}}
          </ul>
        {{else}}
          You don't have any teams yet
        {{/if}}
      </div>
      <div>
        <p>
          <LinkTo @route="landing.teams.new" data-test-rr="newTeam-link">
            Add one
          </LinkTo>
        </p>
      </div>
    </PaperContent>
  </PaperSidenav>
  <PaperCardContent @class="flex flex-content">
    {{outlet}}
  </PaperCardContent>
</PaperSidenavContainer>