<PaperToolbar>
  <PaperToolbarTools>
    <PaperSidenavToggle as |toggleAction|>
      <PaperButton @onClick={{action toggleAction}} @iconButton={{true}}>
        {{paper-icon "reorder"}}
      </PaperButton>
    </PaperSidenavToggle>
    <div class="paper-right">
      <PaperMenu @offset="0 50" as |menu|>
        <menu.trigger @class="pointer-cursor" data-test="logout-trigger">
          {{paper-icon "arrow_drop_down" class="md-menu-origin"}}
          <span data-test="current-user-span">
            {{session.currentUser.username}}
          </span>
        </menu.trigger>
        <menu.content as |content|>
          <content.menu-item data-test="logout-button" @onClick={{action "logOut"}}>
            {{paper-icon "power_settings_new" class="md-menu-align-target"}}
            <span>Logout</span>
          </content.menu-item>
        </menu.content>
      </PaperMenu>
    </div>
  </PaperToolbarTools>
</PaperToolbar>
<PaperSidenavContainer @class="inner-sidenav">
  <PaperSidenav @class="side-container box-shadow-z8" @open={{sidenavOpen}} @onToggle={{action (mut sidenavOpen)}}>
    <PaperToolbar>
      <PaperToolbarTools @class="side-title">Teams</PaperToolbarTools>
    </PaperToolbar>
    <PaperContent @padding={{false}} @class="side-content">
      {{#if this.model.length}}
        <PaperList>
          {{#each this.model as |team index|}}
            {{#paper-link-item "landing.teams.team" team.id data-test-team=index}}
              {{team.name}}
            {{/paper-link-item}}
          {{/each}}
        </PaperList>
      {{else}}
        <div class="no-team" data-test="no-team">
          You don't have any teams yet
        </div>
      {{/if}}
      <div>
        <PaperButton
          @onClick={{action "addOne"}}
          data-test="new-team"
          @raised={{true}}
        >
          Add one
        </PaperButton>
      </div>
    </PaperContent>
  </PaperSidenav>
  <PaperCardContent @class="flex flex-content box-shadow-top-inset">
    {{outlet}}
  </PaperCardContent>
</PaperSidenavContainer>