<div class="landing">
  <SideNavBar
    @openTeamModal={{this.openTeamModal}}
    @sortedTeams={{this.sortedTeams}}
    @goToTeam={{this.goToTeam}}
    @currentTeamId={{this.currentTeamId}}
    @currentUser={{this.currentUser}}
    @logOut={{this.logOut}}
    @showToggleablePopover={{this.showToggleablePopover}}
    @togglePopover={{this.togglePopover}}
  />
  <div class="flex-content side-content">
    {{outlet}}
  </div>
</div>
{{#if this.showNewTeamModal}}
  <NewTeamModal
    @closeModal={{this.closeNewTeamModal}}
    @saveTeam={{this.saveTeam}}
  />
{{/if}}
