<div class="login-page">
  {{#unless this.media.isMobile}}
    <div class="login-page__image-container">
      <span class="login-page__title">TIMO, the place where timezones are not a problem anymore.</span>
      <img class="login-page__image" src="/images/cover.png" alt="timo landing page background">
    </div>
  {{/unless}}
  <div class="login-page__form-container">
    <img src="/images/appicon-signup.png" alt="timo landing appicon">
    <span class="login-page__form-title">Log in</span>
    <span class="login-page__form-description">Start scheduling meetings with worldwide teams.</span>
    <form class="t-form" {{on 'submit' this.logIn}}>
      <TInput
        class="login-page__input"
        @label="Username"
        @value={{this.username}}
        @error={{this.usernameError}}
        @onChange={{fn (mut this.username)}}
        @cleanError={{fn this.cleanError 'usernameError'}}
      />
      <TInput
        class="login-page__input"
        @inputType="password"
        @label="Password"
        @value={{this.password}}
        @error={{this.passwordError}}
        @onChange={{fn (mut this.password)}}
        @cleanError={{fn this.cleanError 'passwordError'}}
      />
      <div class="login-page__form-actions">
        {{#if this.errorMessage}}
          <span class="response-error">{{this.errorMessage}}</span>
        {{/if}}
        <TButton
          @buttonType="submit"
          @class="login-page__form-button"
          @label="Log in"
          @color="green"
        />
        <LinkTo
          @route="sign-up"
          data-test="sign-up-link"
          @class="login-page__sign-up-label"
        >
          Don't have an account? Sign up
        </LinkTo>
      </div>
    </form>
    <MainFooter/>
  </div>
</div>
