<div class="login-main layout-column layout-align-center-center">
  <div class="layout layout-align-center-center">
    <h1>Timo App</h1>
  </div>
  <div class="layout layout-align-center-center">
    <PaperForm @onSubmit={{action "getIn"}} as |form|>
      <div class="layout-column layout-align-center-center">
        <form.input
          @value={{username}}
          @placeholder="username"
          id="username-input"
          @onChange={{action (mut username)}}
          @required={{true}}
          @class="no-margin"
        />
        <form.input
          @value={{password}}
          @placeholder="password"
          id="password-input"
          @onChange={{action (mut password)}}
          @required={{true}}
          @class="no-margin"
          @type="password"
        />
      </div>
      <div class="layout-column layout-align-center-center">
        <form.submit-button @raised={{true}} @primary={{true}} data-test="login-button">
          Get in
        </form.submit-button>
        <LinkTo
          @route="sign-up"
          data-test="sign-up-link"
          @class="sign-link"
        >
          Don't have an account? Sign up
        </LinkTo>
      </div>
    </PaperForm>
  </div>
</div>
{{outlet}}