<div class="login-page">
  <div class="login-page__image-container">
    <span class="login-page__title">TIMO, the place where timezones are not a problem anymore.</span>
    <img class="login-page__image" src="/images/cover.png" alt="timo landing page background">
  </div>
  <div class="login-page__form-container">
    <img src="/images/appicon-signup.png" alt="timo landing appicon">
    <span class="login-page__login-title">Log in</span>
    <span class="login-page__login-description">Start scheduling meetings with worldwide teams.</span>
    <TInput
      class="login-page__input"
      @label="Username"
      @value={{this.username}}
      @error={{this.usernameError}}
      @onChange={{fn (mut this.username)}}
    />
    <TInput
      class="login-page__input"
      @type="password"
      @label="Password"
      @value={{this.password}}
      @error={{this.passwordError}}
      @onChange={{fn (mut this.password)}}
    />
    <div class="login-page__log-in-actions">
      {{#if this.errorMessage}}
        <span class="response-error">{{this.errorMessage}}</span>
      {{/if}}
      <TButton
        @class="login-page__log-in-button"
        @action={{this.logIn}}
        @label="Log in"
        @color="green"
      />
      <LinkTo
        @route="sign-up"
        data-test="sign-up-link"
        @class="login-page__sign-up-label"
      >
        Don't have an account? Sign up
      </LinkTo>
    </div>
  </div>
</div>
