<div class="login-main layout-column layout-align-center-center">
  <div class="layout layout-align-center-center">
    <h1>Timo App</h1>
  </div>
  <div class="layout layout-align-center-center">
    <PaperForm @onSubmit={{action "signUp"}} as |form|>
      <div class="layout-column layout-align-center-center">
        <form.input
          @value={{username}}
          @placeholder="username"
          id="username-input"
          @onChange={{action (mut username)}}
          @class="no-margin"
          @minlength={{4}}
          @customValidations={{emptyInputValidation}}
        />
        <form.input
          @value={{password}}
          @placeholder="password"
          id="password-input"
          @onChange={{action (mut password)}}
          @class="no-margin"
          @type="password"
          @minlength={{8}}
          @customValidations={{emptyInputValidation}}
        />
        <form.input
          @value={{confirmPassword}}
          @placeholder="confirmation password"
          id="confirmPassword-input"
          @onChange={{action (mut confirmPassword)}}
          @required={{true}}
          @class="no-margin"
          @type="password"
          @customValidations={{confirmPasswordValidation}}
        />
      </div>
      <div class="layout-column layout-align-center-center">
        {{#if errorResponse}}
          <div class="paper-input-error response-error" data-test="sign-up-error">
            That username is already taken
          </div>
        {{/if}}
        <form.submit-button @raised={{true}} @primary={{true}} data-test="sign-up-button">
          Create account
        </form.submit-button>
        <LinkTo
          @route="login"
          data-test="login-link"
          @class="sign-link"
        >
          Already have an account? Sign in
        </LinkTo>
      </div>
    </PaperForm>
  </div>
</div>