<div class="sign-up-page">
  <div class="sign-up-page__image-container">
    <span class="sign-up-page__title">TIMO, the place where timezones are not a problem anymore.</span>
    <img class="sign-up-page__image" src="/images/cover.png" alt="timo landing page background">
  </div>
  <div class="sign-up-page__form-container">
    <img src="/images/appicon-signup.png" alt="timo landing appicon">
    <span class="sign-up-page__login-title">Create an account</span>
    <span class="sign-up-page__login-description">Start scheduling meetings with worldwide teams.</span>
    <TInput
      class="sign-up-page__input"
      @label="Username"
      @value={{this.username}}
      @error={{this.usernameError}}
      @onChange={{fn (mut this.username)}}
      @cleanError={{fn this.cleanError 'usernameError'}}
    />
    <TInput
      class="sign-up-page__input"
      @label="Email"
      @value={{this.email}}
      @error={{this.emailError}}
      @onChange={{fn (mut this.email)}}
      @cleanError={{fn this.cleanError 'emailError'}}
    />
    <TInput
      class="sign-up-page__input"
      @type="password"
      @label="Password"
      @value={{this.password}}
      @error={{this.passwordError}}
      @onChange={{fn (mut this.password)}}
      @cleanError={{fn this.cleanError 'passwordError'}}
    />
    <TInput
      class="sign-up-page__input"
      @type="password"
      @label="Confirm Password"
      @value={{this.passwordConfirmation}}
      @error={{this.passwordConfirmationError}}
      @onChange={{fn (mut this.passwordConfirmation)}}
      @cleanError={{fn this.cleanError 'passwordConfirmationError'}}
    />
    <div class="sign-up-page__log-in-actions">
      {{#if this.errorMessage}}
        <span class="response-error">{{this.errorMessage}}</span>
      {{/if}}
      <TButton
        @class="sign-up-page__log-in-button"
        @action={{this.signUp}}
        @label="Sign up"
        @color="green"
      />
      <LinkTo
        @route="login"
        data-test="login-link"
        @class="sign-up-page__sign-up-label"
      >
        Already have an account? Log in
      </LinkTo>
    </div>
  </div>
</div>
{{#if this.showEmailVerificationModal}}
  <Modals::EmailVerification
    @onClose={{this.closeEmailVerificationModal}}
  />
{{/if}}
