<div
  class="{{if @selected "timezone-list__selected-container"}}
  {{if @time.isCurrentTime "timezone-list__current"}}"
>
  {{#if (and @time.isCurrentTime @isFirstRow)}}
    <div class="timezone-list__down-arrow"/>
    <div class="timezone-list__vertical-line"/>
  {{/if}}
  <div
    role="button"
    class="timezone-list__hour {{@time.color}}
    {{if @isShowingCalendarPopover "disable"}}
    {{if @selected "timezone-list__selected"}}"
    {{on "click" this.handleAction}}
  >
    {{moment-format @time.value "HH.mm"}}
  </div>
  {{#if (and @selected (not this.calendarPopover))}}
    <EmberTooltip @tooltipClass="google-calendar-information-tooltip">
      Click to schedule an event on Google Calendar
    </EmberTooltip>
  {{/if}}
  <EmberPopover
    @popoverHideDelay={{0}}
    @isShown={{this.showCalendarPopover}}
    @event="none"
    @innerClass="google-calendar-popover__inner"
    @tooltipClass="google-calendar-popover"
    @arrowClass="google-calendar-popover-arrow"
  >
    <img
      alt="close button"
      role="button"
      class="google-calendar-popover__close"
      src="/images/close.svg"
      {{on "click" this.closeCalendarPopover}}
    >
    <div class="google-calendar-popover__details">
      <img
        class="google-calendar-popover__icon"
        alt="google calendar"
        src="/images/googlecalendar.png"
      >
      <span class="google-calendar-popover__label">Schedule event on Google Calendar</span>
    </div>
    <TButton
      @class="google-calendar-popover__button"
      @label="Schedule now"
      @action={{this.tooltipAction}}
    />
  </EmberPopover>
</div>
