<div class="{{if @selected "timezone-list__selected-container"}}">
  <div
    class="timezone-list__hour {{@time.color}}
    {{if @selected "timezone-list__selected"}}"
    {{on "click" (fn @selectBox @index)}}
  >
    {{moment-format @time.value "HH.mm"}}
  </div>
</div>
