<div
  class="{{if @selected "timezone-list__selected-container"}}
  {{if @time.isCurrentTime "timezone-list__current"}}"
>
  {{#if @time.isCurrentTime}}
    <div class="timezone-list__down-arrow"/>
    <div class="timezone-list__vertical-line"/>
  {{/if}}
  <div
    class="timezone-list__hour {{@time.color}}
    {{if @selected "timezone-list__selected"}}"
    {{on "click" (fn @selectBox @index @time.value)}}
  >
    {{moment-format @time.value "HH.mm"}}
  </div>
</div>
