<div class="flex-title">
  <h1 data-test="team-title">
    {{this.model.name}}
  </h1>
</div>
{{#if this.model.members.length}}
  <EmberTable @class="member-content" as |t|>
    <t.head
      @columns={{columns}}
      @enableReorder={{false}}
      @widthConstraint="eq-container"
      @resizeMode="fluid"
    />

    <t.body @rows={{rows}}/>
  </EmberTable>
{{else}}
  <div class="no-member" data-test="no-member">
    No members in this team
  </div>
{{/if}}
<div class="add-button-container">
  <PaperButton
    @raised={{true}}
    @fab={{true}}
    @accent={{true}}
    @onClick={{action "newMember"}}
    data-test="add-member-button"
  >
    +
  </PaperButton>
</div>