<div class="timezone-list__row">
  <div class="timezone-list__location">
    {{this.location}}
  </div>
  <div class="timezone-list__details">
    <div class="timezone-list__date">
      {{this.memberDate}}
    </div>
    <div class="timezone-list__members">
      {{this.amountOfMembersMessage}}
    </div>
  </div>
  <div class="timezone-list__time-zone" {{on "scroll" @scrollAll}} role="button">
    {{#each @timezone.times as |time index|}}
      <TimezoneList::Timezone::Box
        @time={{time}}
        @scheduleEvent={{@scheduleEvent}}
        @selectBox={{@selectBox}}
        @selected={{eq @selectedBoxIndex index}}
        @index={{index}}
        @isShowingCalendarPopover={{@isShowingCalendarPopover}}
        @toggleCalendarPopoverBackground={{@toggleCalendarPopoverBackground}}
        @isFirstRow={{@isFirstRow}}
      />
    {{/each}}
  </div>
</div>
