<div class="sidenavbar flex-20">
  <div class="layout-row layout-align-space-between-center sidenavbar__header">
    <span class="sidenavbar__title">Teams</span>
    <button type="button" {{on "click" @addOne}} data-test="new-team" class="sidenavbar__add-group blue">
      Add
    </button>
  </div>
  {{#if @groups.length}}
    {{#each @sortedTeams as |team index|}}
      <SideNavBar::Team
        @team={{team}}
        @selectedTeam={{eq @currentTeamId team.id}}
        @index={{index}}
        @goToTeam={{fn @goToTeam team}}
        @deleteTeamModal={{fn @deleteTeamModal team}}
      />
    {{/each}}
  {{else}}
    <div class="sidenavbar__no-team" data-test="no-team">
      You don't have any teams yet
    </div>
  {{/if}}
  <div class="current-user-container">
    <div data-test="current-user-span">
      <EmberPopover
        @isShown={{@showToggleablePopover}}
        @targetId="user-name"
        @event="none"
        @hideOn="focusout"
      >
        {{paper-icon "power_settings_new" class="md-menu-align-target"}}
        <button type="button" class="logout-button" {{on "click" @logOut}}>Logout</button>
      </EmberPopover>
      <button id="user-name" type="button" class="current-user-name" {{on "click" @togglePopover}}>
        <img src="https://www.w3schools.com/w3images/avatar5.png" alt="Avatar" class="avatar">
        {{@currentUser.user.username}}
      </button>
    </div>
  </div>
</div>


