<div class="shared-page" id="tooltip-background">
  <SharedTeamHeader
    @teamName={{this.model.name}}
    @members={{this.sortedMembers}}
    @transitionToLogin={{this.transitionToLogin}}
    @transitionToSignUp={{this.transitionToSignUp}}
  />
  <TimezoneList
    @timezones={{this.timezones}}
    @scheduleEvent={{this.scheduleEvent}}
    @currentIndex={{this.currentIndex}}
    @selectedBoxIndex={{this.selectedBoxIndex}}
    @selectedTime={{this.selectedTime}}
    @selectBox={{this.selectBox}}
    @isGrouped={{this.isGrouped}}
    @groupTimezones={{this.groupTimezones}}
  />
</div>
