<SharedTeamHeader
  @group={{this.model}}
  @transitionToLogin={{this.transitionToLogin}}
  @transitionToSignUp={{this.transitionToSignUp}}
/>
{{#if this.sortedMembers.length}}
  <TimezoneList @timezones={{this.timezones}} @scheduleEvent={{this.scheduleEvent}} />
{{else}}
  <div class="no-member" data-test="no-member">
    No members in this team
  </div>
{{/if}}
