<AnimatedContainer>
  <ModalDialog
    @closeModal={{@closeModal}}
    @translucentOverlay={{true}}
    @containerClass="member-list__modal"
    @onClickOverlay={{@closeModal}}
  >
    <span class="t-modal__title">
      Members
    </span>
    {{#if this.showList}}
      <img
        role="button"
        alt="close button"
        class="t-modal__close"
        src="/images/close.svg"
        {{on "click" @closeModal}}
      >
    {{else}}
      <img
        role="button"
        alt="left arrow button"
        class="t-modal__close"
        src="/images/left-arrow.svg"
        {{on "click" this.closeEdit}}
      >
    {{/if}}
    {{#animated-if this.showList use=this.transition duration=200}}
      <div class="member-list__content">
        {{#each @members as |member|}}
          <Modals::Members::List::Details
            @member={{member}}
            @showEdit={{this.showEdit}}
            @deleteMember={{this.deleteMember}}
          />
        {{/each}}
      </div>
    {{else}}
      <form class="t-form" {{on 'submit' this.updateMember}}>
        <div class="member-list__form">
          <TInput
            class="add-member-modal__member-name"
            @label="Name"
            @value={{this.memberChangeset.name}}
            @error={{this.nameError}}
            @onChange={{fn (mut this.memberChangeset.name)}}
            @cleanError={{fn this.cleanError 'nameError'}}
          />
          <div class="t-dropdown">
            <PowerSelect
              @triggerClass="{{if this.timezoneError 'error'}}"
              @placeholder="Select timezone"
              @searchPlaceholder="Search for a timezone..."
              @searchEnabled={{true}}
              @options={{this.timezoneList}}
              @selected={{this.memberChangeset.timezone}}
              @onChange={{this.changeTimezone}} as |t|
            >
              {{t}}
            </PowerSelect>
            {{#if this.timezoneError}}
              <span class="t-dropdown__error">{{this.timezoneError}}</span>
            {{/if}}
          </div>
          <div class="t-autocomplete">
            <PowerSelectTypeahead
              @search={{@searchCity}}
              @selected={{this.memberChangeset.city.fullName}}
              @placeholder="Search for city"
              @onInput={{this.onInputCity}}
              @loadingMessage="Searching for cities..."
              @noMatchesMessage="No city found"
              @onChange={{this.changeCity}} as |city|
            >
              {{city.name}}, {{city.country}}
            </PowerSelectTypeahead>
          </div>
        </div>
        <div class="t-modal__actions-container">
          <button
            type="button"
            class="t-modal__button blue"
            data-test="cancel-button"
            {{on "click" this.closeEdit}}
          >
            Cancel
          </button>
          <button
            type="submit"
            class="t-modal__button green"
            data-test="update-button"
            {{on "click" this.updateMember}}
          >
            Update
          </button>
        </div>
      </form>
    {{/animated-if}}
  </ModalDialog>
</AnimatedContainer>
