<div class="group-header">
  <div class="group-header__container">
    <span class="group-header__title" data-test="team-title">
      {{@group.name}}
    </span>
    <span class="group-header__details">
      {{this.timezonesLabel}} | {{this.membersLabel}}
    </span>
  </div>
  <div>
    <TButton
      @testSelector="add-member-button"
      @action={{@addMember}}
      @label="Add members"
    />
    <TButton
      @action={{@openShareModal}}
      @label="Share"
      @id="share-button"
    />
  </div>
</div>
