<div class="timezone-list">
  {{#each @timezones as |timezone|}}
    <TimezoneList::Timezone
      @timezone={{timezone}}
      @scheduleEvent={{@scheduleEvent}}
      @selectBox={{this.selectBox}}
      @selectedBoxIndex={{this.selectedBoxIndex}}
      @selectedTime={{this.selectedTime}}
      @scrollAll={{this.scrollAll}}
    />
  {{/each}}
</div>
