<div class="timezone-list">
  {{#if this.showGroupTimezonesCheckbox}}
    <div class="timezone-list__group-timezones">
      <TCheckbox
        @checked={{@isGrouped}}
        @onChange={{@groupTimezones}}
        @label="Group timezones"
      />
    </div>
  {{/if}}
  {{#each @timezones as |timezone index|}}
    <TimezoneList::Timezone
      @timezone={{timezone}}
      @scheduleEvent={{@scheduleEvent}}
      @selectBox={{this.selectBoxWithScroll}}
      @selectedBoxIndex={{@selectedBoxIndex}}
      @selectedTime={{@selectedTime}}
      @scrollAll={{this.scrollAll}}
      @isShowingCalendarPopover={{@isShowingCalendarPopover}}
      @toggleCalendarPopoverBackground={{@toggleCalendarPopoverBackground}}
      @isFirstRow={{eq index 0}}
      @members={{@members}}
    />
  {{/each}}
</div>
