{{#if this.isShowingCalendarPopover}}
  {{#ember-wormhole to="tooltip-background"}}
    <div class="showing-tooltip"></div>
  {{/ember-wormhole}}
{{/if}}
<div class="timezone-list">
  {{#each @timezones as |timezone|}}
    <TimezoneList::Timezone
      @timezone={{timezone}}
      @scheduleEvent={{@scheduleEvent}}
      @onHover={{this.onHover}}
      @mouseLeave={{this.mouseLeave}}
      @hover={{this.hover}}
      @scrollAll={{this.scrollAll}}
      @isShowingCalendarPopover={{this.isShowingCalendarPopover}}
      @toggleCalendarPopoverBackground={{this.toggleCalendarPopoverBackground}}
    />
  {{/each}}
</div>
