<div class="timezone-list">
  <div class="timezone-list__timezone-actions">
    <TButton
      @label="Take me to current time"
      @action={{this.scrollToCurrent}}
    />
    {{#if this.showGroupTimezonesCheckbox}}
      <div class="timezone-list__group-timezones">
        <TCheckbox
          @checked={{@isGrouped}}
          @onChange={{@groupTimezones}}
          @label="Group timezones"
        />
      </div>
    {{/if}}
  </div>
  {{#each @timezones as |timezone index|}}
    <TimezoneList::Timezone
      @timezoneIndex={{index}}
      @timezone={{timezone}}
      @scheduleEvent={{@scheduleEvent}}
      @selectBox={{this.selectBoxWithScroll}}
      @selectedBoxIndex={{@selectedBoxIndex}}
      @selectedTime={{@selectedTime}}
      @isShowingCalendarPopover={{@isShowingCalendarPopover}}
      @toggleCalendarPopoverBackground={{@toggleCalendarPopoverBackground}}
      @isFirstRow={{eq index 0}}
    />
  {{/each}}
</div>
