<div class="timezone-list">
  {{#each @timezones as |timezone|}}
    <TimezoneList::Timezone
      @timezone={{timezone}}
      @scheduleEvent={{@scheduleEvent}}
      @selectBox={{this.selectBoxWithScroll}}
      @selectedBoxIndex={{@selectedBoxIndex}}
      @selectedTime={{@selectedTime}}
      @scrollAll={{this.scrollAll}}
    />
  {{/each}}
</div>
