{{#if this.isShowingCalendarPopover}}
  <EmberWormhole @to="tooltip-background">
    <div class="showing-tooltip"></div>
  </EmberWormhole>
{{/if}}
<div class="timezone-list">
  <div class="timezone-list__group-timezones">
    <TCheckbox
      @checked={{@isGrouped}}
      @onChange={{@groupTimezones}}
      @label="Group timezones"
    />
  </div>
  {{#each @timezones as |timezone|}}
    <TimezoneList::Timezone
      @timezone={{timezone}}
      @scheduleEvent={{@scheduleEvent}}
      @selectBox={{this.selectBoxWithScroll}}
      @selectedBoxIndex={{@selectedBoxIndex}}
      @selectedTime={{@selectedTime}}
      @scrollAll={{this.scrollAll}}
      @isShowingCalendarPopover={{this.isShowingCalendarPopover}}
      @toggleCalendarPopoverBackground={{this.toggleCalendarPopoverBackground}}
    />
  {{/each}}
</div>
