<div class="shared-team-header">
  <img
    role="button"
    src="/images/appicon-header.svg"
    alt="Timo sidenavbar icon"
    class="shared-team-header__image"
    {{on "click" @transitionToLogin}}
  >
  <div class="shared-team-header__container">
    <span class="shared-team-header__title" data-test="team-title">
      {{@teamName}}
    </span>
    <span class="shared-team-header__details">
      {{this.membersLabel}}
    </span>
  </div>
  {{#unless this.session.isAuthenticated}}
    {{#if this.media.isMobile}}
      <div>
        <img
          role="button"
          alt="account options"
          class="shared-team-header__mobile-actions"
          src="/images/grey-menu.svg"
          {{on "click" @openAccountOptions}}
        >
        <EmberPopover
          @event="click"
          @popoverHideDelay={{0}}
          @isShown={{@showAccountOptions}}
          @side="left-start"
          @tooltipClass="header-tooltip"
        >
          <div
            class="header-tooltip__item"
            role="button"
            {{on "click" @transitionToLogin}}
          >
            Log in
          </div>
          <div
            class="header-tooltip__item"
            role="button"
            {{on "click" @transitionToSignUp}}
          >
            Create Account
          </div>
        </EmberPopover>
      </div>
    {{else}}
      <div class="shared-team-header__desktop-actions">
        <TButton
          @testSelector="log-in"
          @label="Log in"
          @color="white"
          @action={{@transitionToLogin}}
        />
        <TButton
          @testSelector="create-account"
          @label="Create Account"
          @color="inverted-white"
          @action={{@transitionToSignUp}}
        />
      </div>
    {{/if}}
  {{/unless}}
</div>
