<TModal
  @title="Add Members"
  @closeModal={{@closeModal}}
  @onSubmit={{this.add}}
  @actionLabel="Add"
  @modalClass="add-member-modal"
>
  <TInput
    class="add-member-modal__member-name"
    @label="Name"
    @value={{this.name}}
    @error={{this.nameError}}
    @onChange={{fn (mut this.name)}}
    @cleanError={{fn this.cleanError 'nameError'}}
  />
  <div class="t-dropdown">
    <PowerSelect
      @triggerClass="{{if this.timezoneError 'error'}}"
      @placeholder="Select timezone"
      @searchPlaceholder="Search for a timezone..."
      @searchEnabled={{true}}
      @options={{this.timezoneList}}
      @selected={{this.timezone}}
      @onChange={{this.changeTimezone}} as |t|
    >
      {{t}}
    </PowerSelect>
    {{#if this.timezoneError}}
      <span class="t-dropdown__error">{{this.timezoneError}}</span>
    {{/if}}
  </div>
  <div class="t-autocomplete">
    <PowerSelectTypeahead
      @search={{@searchCity}}
      @selected={{this.selectedCity.fullName}}
      @placeholder="Search for city (optional)"
      @onInput={{this.onInputCity}}
      @loadingMessage="Searching for cities..."
      @noMatchesMessage="No city found"
      @onChange={{this.changeCity}} as |city|
    >
      {{city.name}}, {{city.country}}
    </PowerSelectTypeahead>
  </div>
</TModal>
