<button
  id="share-button"
  type="button"
  data-test="add-member-button"
  class="group-header__share"
  {{on "click" this.togglePopover}}
>
  Share
</button>
<EmberPopover
  @isShown={{this.showToggleablePopover}}
  @targetId="share-button"
  @event="none"
  @hideOn="click"
>
  <div class="public-share-item" data-test="public-share-item">
    Public Access
    <Input
      data-test="public-checkbox"
      @type="checkbox"
      @checked={{@team.public}}
      {{on "click" this.setPublic}}
    />
  </div>
  <button
    id="share-button"
    type="button"
    data-test="add-member-button"
    class="group-header__share"
    {{on "click" this.copyLink}}
  >
    Copy Link
  </button>
</EmberPopover>
