<TButton
  @action={{this.togglePopover}}
  @label="Share"
  @id="share-button"
/>
<EmberPopover
  @isShown={{this.showToggleablePopover}}
  @targetId="share-button"
  @event="none"
  @hideOn="click"
>
  <div class="public-share-item" data-test="public-share-item">
    Public Access
    <Input
      data-test="public-checkbox"
      @type="checkbox"
      @checked={{@team.public}}
      {{on "click" this.setPublic}}
    />
  </div>
  <TButton
    @action={{this.copyLink}}
    @label="Copy Link"
  />
</EmberPopover>
