<div class="team-header">
  <div class="team-header__container">
    <span class="team-header__title" data-test="team-title">
      {{@teamName}}
    </span>
    <span class="team-header__details" {{on "click" @openMemberListModal}} role="button">
      {{this.membersLabel}}
    </span>
  </div>
  <div class="team-header__actions">
    <TButton
      @testSelector="edit-team-button"
      @label="Edit team"
      @inverted={{true}}
      @action={{@openAboutTeamModal}}
    />
    <TButton
      @testSelector="add-member-button"
      @label="Add members"
      @action={{@addMember}}
    />
    <TButton
      @color="red"
      @testSelector="share-button"
      @label="Share"
      @action={{@openShareModal}}
    />
  </div>
</div>
