<button
  data-test={{@testSelector}}
  type="{{if @type @type "button"}}"
  class="t-button {{@color}} {{@class}} {{if @inverted 'inverted'}}"
  id={{@id}}
  {{on "click" @action}}
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</button>
