<h1 class="flex-title" data-test="newTeam-title">New Team</h1>
<PaperForm @onSubmit={{action "saveTeam"}} as |form|>
  <div class="layout layout-align-center-center">
    <form.input
      @value={{teamName}}
      @placeholder="New team name"
      id="teamName-input"
      @onChange={{action "setValue"}}
      @required={{true}}
    />
  </div>
  <div class="layout layout-align-center-center">
    <form.submit-button @raised={{true}} @primary={{true}} data-test="saveTeam-button">
      Save
    </form.submit-button>
  </div>
</PaperForm>