<GroupHeader @group={{@model}} @addMember={{this.newMember}} />
{{#if this.sortedMembers.length}}
  <TimezoneList @timezones={{this.timezones}} @scheduleEvent={{this.scheduleEvent}} />
{{else}}
  <div class="no-member" data-test="no-member">
    No members in this team
  </div>
{{/if}}
{{#if this.newMemberModal}}
  <MemberModal
    @addMember={{this.saveMember}}
    @closeModal={{this.closeNewMemberModal}}
    @title="New Member"
    @modalOrigin="#new-member-origin"
    @dataTestName="new-member-modal"
  />
{{/if}}
{{#if this.editMemberModal}}
  <MemberModal
    @addMember={{this.saveEditMember}}
    @member={{this.memberToEdit}}
    @closeModal={{this.closeEditMemberModal}}
    @title="Edit Member"
    @dataTestName="edit-member-modal"
  />
{{/if}}
