<TeamHeader
  @teamName={{@model.name}}
  @members={{this.sortedMembers}}
  @addMember={{this.newMember}}
  @openShareModal={{this.openShareModal}}
  @openMemberListModal={{this.openMemberListModal}}
  @openAboutTeamModal={{this.openAboutTeamModal}}
/>
<TimezoneList
  @timezones={{this.timezones}}
  @scheduleEvent={{this.scheduleEvent}}
  @currentIndex={{this.currentIndex}}
  @selectedBoxIndex={{this.selectedBoxIndex}}
  @selectedTime={{this.selectedTime}}
  @selectBox={{this.selectBox}}
  @isGrouped={{this.isGrouped}}
  @groupTimezones={{this.groupTimezones}}
  @isShowingCalendarPopover={{this.isShowingCalendarPopover}}
  @toggleCalendarPopoverBackground={{this.toggleCalendarPopoverBackground}}
  @members={{this.sortedMembers}}
/>
{{#if this.newMemberModal}}
  <Modals::Members::Add
    @addOrUpdateMember={{this.saveMember}}
    @closeModal={{this.closeNewMemberModal}}
  />
{{/if}}
{{#if this.showShareModal}}
  <Modals::Team::Share
    @closeModal={{this.closeShareModal}}
    @team={{this.model}}
    @isGrouped={{this.isGrouped}}
  />
{{/if}}
{{#if this.showMemberListModal}}
  <Modals::Members::List
    @members={{this.sortedMembers}}
    @closeModal={{this.closeMemberListModal}}
  />
{{/if}}
{{#if this.showAboutTeamModal}}
  <Modals::Team::About
    @closeModal={{this.closeAboutTeamModal}}
    @team={{this.model}}
    @deleteTeam={{this.deleteTeam}}
  />
{{/if}}
{{#if this.isShowingCalendarPopover}}
  <EmberWormhole @to="tooltip-background">
    <div class="showing-tooltip"></div>
  </EmberWormhole>
{{/if}}
