<GroupHeader
  @group={{@model}}
  @addMember={{this.newMember}}
  @openShareModal={{this.openShareModal}}
/>
{{#if this.sortedMembers.length}}
  <TimezoneList @timezones={{this.timezones}} @scheduleEvent={{this.scheduleEvent}} />
{{else}}
  <div class="no-member" data-test="no-member">
    No members in this team
  </div>
{{/if}}
{{#if this.newMemberModal}}
  <Modals::AddMember
    @addMember={{this.saveMember}}
    @closeModal={{this.closeNewMemberModal}}
  />
{{/if}}
{{#if this.editMemberModal}}
  <MemberModal
    @addMember={{this.saveEditMember}}
    @member={{this.memberToEdit}}
    @closeModal={{this.closeEditMemberModal}}
    @title="Edit Member"
    @dataTestName="edit-member-modal"
  />
{{/if}}
{{#if this.showShareModal}}
  <Modals::ShareTeam
    @closeModal={{this.closeShareModal}}
    @team={{this.model}}
  />
{{/if}}
