<PaperDialog
    @clickOutsideToClose={{true}}
    @onClose={{this.closeModal}}
    @origin={{this.modalOrigin}}
  >
  <PaperToolbar>
    <PaperToolbarTools>
      <h1 data-test="member-modal-title">
        {{this.title}}
      </h1>
      <span class="flex"></span>
      <PaperButton @iconButton={{true}} @onClick={{this.closeModal}} data-test="close-member-modal">
        {{paper-icon "close"}}
      </PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperDialogContent>
    <PaperForm class="layout layout-align-center" @onSubmit={{action "add"}} as |form|>
      <div class="layout-column layout-align-center">
        <form.input
          @value={{this.memberName}}
          @label="Name"
          id="memberName-input"
          @onChange={{action (mut this.memberName)}}
          @customValidations={{this.emptyInputValidation}}
        />
        <form.select
          @label="Time Zone"
          @options={{this.timezoneList}}
          @selected={{this.memberTimeZone}}
          @searchPlaceholder="Search for a timezone..."
          @searchEnabled={{true}}
          @closeOnSelect={{true}}
          id="memberTimeZone-select"
          @onChange={{action (mut this.memberTimeZone)}}
          @required={{true}}
          as |timezone|
        >
          {{timezone}}
        </form.select>
        <form.submit-button
          @raised={{true}}
          @primary={{true}}
          data-test="saveMember-button"
        >
          Save
        </form.submit-button>
      </div>
    </PaperForm>
  </PaperDialogContent>
</PaperDialog>